<div>

<h2>This is dashboard for test</h2>
   <a href="/dashboard/newpost" class="btn btn-primary">Add new Post</a>
</div>





{{!-- <div class="card w-75 mb-3">
  <div class="card-body">
    <h5 class="card-title">Comment</h5>
    <p class="card-text">With supporting text below.</p>
    <a id="comment-submit" href="#" class="btn btn-primary">Submit</a>
  </div>
</div> --}}

<script src="./js/newpost.js"></script>