


<div class="card">
    <div>
        <h5 class="card-header bg-info">Card Title</h5>
        <span>posted at:</span>    
    </div>
  <h5 class="card-header bg-info">Card Title</h5>
  <div class="card-body">    
    <p class="card-text">With supporting text below .</p>
  </div>
</div>